* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
    color: white;
}

#mainContainer
{
  position: fixed;
  width:100%;
  height:100%;
}
#filler
{
  position: fixed;
  width:100%;
  height:100%;
  z-index:90;
  opacity:1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: display 1s; /* For Safari 3.1 to 6.0 */
  transition: display 1s;
}

#filler.hide{
  opacity:0;
  height: 0;
  display: none;
}

.container,
.gclass{
  position: relative;;
  width: 100%;
  height: 100%;
}

.form{
  color:black;
  overflow-y: scroll;
  top:-2.5%;
}

.navigationBar {
    position: relative;
    width: 100%;
    color: black;
    font-size: 2.5vh;
    height: 6%;
    margin-bottom: 3%;
    margin-top: 0.2%;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #f7f7f7;
}

.headerContainer {
  position: absolute;
  height: 100%;
  color: #0f88ca;
  text-align: center;
  width: 100%;

}
.headerContainer > div.title {
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
}

.menuBtContainer {
  z-index: 2;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 25%;
  float:left;
  padding-left: 0.25em;
  padding-right: 0.25em;
  /*font-size: 2.2vh;*/
}


.menuBtContainer.right
{
    float: right;
}
.menuBtContainer > div.titleLeft {
  text-align: left;
  margin: 0.5em 0 0.5em 0;
}
.menuBtContainer > div.titleRight {
  /*margin: 0.5em 0 0.5em 0;*/
  background-color: #0f88ca;
  text-align: center;
/* padding: 10% 0 10% 0; */
  background-color: #0f88ca;
  width: 50%;
  float: right;
/* margin-top: 5%; */
/* margin-bottom: 5%; */
  position: relative;
  color: white;
/* margin-top: 10%; */
  height: 100%
}

.controller
{
  position: relative;
  width: 100%;
  height: 90%;
}

.actionBarContainer {
    position: absolute;
    width: 30%;
    height: 100%;
    background: white;
    color:#0f88ca;
    z-index:100;
    left:0%;
    -webkit-transition: left 1s; /* For Safari 3.1 to 6.0 */
    transition: left 1s;
}

.actionBarContainer#home_swiper {
    z-index: 90;
    width: 10%;
    background: transparent;
}

.actionBarContainer.actionBarHide {
    left: -30%;
}
.actionBarItem {
    position: relative;
    width: 100%;
    height: 15%;
    border-bottom: 0.1em solid #0f88ca;
    cursor: pointer;
}

.actionBarIcon,.gridIcon{
    width: 100%;
    height: 70%;
}

.actionBarName,.gridName {
    width: 100%;
    text-align: center;
}

.gridContainer {
    position: relative;
    width: 97%;
    height: 97%;
    padding-left: 3%;
    padding-top: 3%;
}

.gridItem {
    position: relative;
    width: 47%;
    height: 23.8%;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
    background-color: #0f88ca;
}

.highlight
{
  background-color: #6abd45;
  border-color: #6abd45;
  color:white;
}

.buttonContainer {
    position: relative;
    margin: 4em 0em auto !important;
    text-align: center;
}

.buttonName {
    background-color: #222;
    padding: 1em;
    margin: 0.25em auto !important;
    width: 68%;
    height: 1.5em;
    cursor: pointer;
}

.loginicon{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  position: relative;
  color: black;
  height: 27%;
  width: 100%;
  background-image: url('../img/dnatalogo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.center{
  font-size: 3.2vh;
  font-family: Roboto;
}

#checked{
  color: white;
  background-color: white;
  position: relative;
  font-family: Roboto;
  font-size: 3.2vh;
  align-self: center;
  margin:3%;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.userdetails {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
  font-family: Roboto;
  font-size: 3vh;
}

#userinfo{
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  background:transparent;
  border-bottom: 0.5vw solid white;
  color:white;
  outline: none;
  padding-top: 5%;
  width: 91%;
  position:relative;
  font-family: Roboto;
  font-size: medium;
}

.pwdetails{
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
  font-family: Roboto;
  font-size: 3vh;
}


#pwdinfo{
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  background:transparent;
  border-bottom: 0.5vw solid white;
  color:white;
  outline: none;
  padding-top: 5%;
  width: 91%;
  position:relative;
  font-family: Roboto;
  font-size: medium;
}

.errorMsg {
  position: relative;
  color: orange;
  height: 1em;
  margin-top: 5%;
  margin-left: 10%;
  font-family: Roboto;
}


/*for the dnataid and password labels*/

label{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity:0.4;
  position:relative;
  font-family: Roboto;
  font-style: italic;
  font-size: 3vh;
  height: 5%;
}


.loginscreen{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #0f88ca;
  background-image: url('./img/dnatalogo.png');
  height: 70%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;
  position: relative;
}

.loginbtn{
  -webkit-appearance: none;
  -moz-appearance: none;
  display: table;
  margin: 0 auto;
  margin-top: 25%;
  border-radius: 50px;
  border: 1px solid white;
  background-color: white;
  color:#6abd45;
  font-family: Roboto;
  font-style: bold;
  font-size: 3.2vh;
  outline:none;
  width: 91%;
  position:relative;
  height: 10%;
}
